<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- ccs index -->
    <link rel="stylesheet" href="D:/Escritorio/Python/desafio_entregable1/desafio_entregable1/usuarios/templates/style.css">
</head>
<body>
    <h1 class="main-header">Bienvenidos a usuarios</h1>
    <a href="familiares">Link a lista de usuarios</a>
    <h2>Para agregar familiares por parámetro se deben agregar a "/alta_parametros/"</h2>
    <h3>Nombre</h3>
    <h3>Edad</h3>
    <h3>Fecha de nacimiento en formato AAAA-MM-DD</h3>
    <h2>Todo separador por barras, por ejemplo "<i>/usuarios/alta_parametros/Pepe/25/2003-01-28</i>" <h2>
</body>
</html>